<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="flexible_media_controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="flexible_media_controller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <flexible_media_controller.Properties.Settings>
            <setting name="HotkeySaveFileName" serializeAs="String">
                <value>hotkeys.xml</value>
            </setting>
        </flexible_media_controller.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <flexible_media_controller.Properties.Settings>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>True</value>
            </setting>
        </flexible_media_controller.Properties.Settings>
    </userSettings>
</configuration>